/*
COLOR-CODE
#9ec3e2 light blue
#e9c839 gold
#245076 main blue
#467ead heading blue
*/


#rapper{
    width:1170px;
    height: 900px;
    background-color:#245076;
    text-align: center;
}
#header{
    background-color:#245076;
    height:100px;
    text-align:center;
}
#left-head{
    background-color:#245076;
    height:100px;
    display:inline-block;
    width:580px;
}
#left-head img{
    width:400px;
    margin-right:90px;
}
#right-head{
    color:white;
    background-color:#245076;
    height:100px;
    display:inline-block;
    width:580px;
    vertical-align: top;
}
#main{
    background-color:#245076;
    height:700px;
    text-align: center;
}
#subhead{
    background-color:#467ead;
    display:inline-block;
    width:700px;
    padding:5px;
    border-radius:10px;
    margin-bottom:10px;
}
#subhead ul li{
    /* background-color:blue; */
    padding:10px;
    display:inline-block;
    font-size:117%;
    color:white;
}

#links{
    background-color:#245076;
    color:white;
    height: 400px;
    width:580px;
    display: inline-block;
}
#text{
    background-color:#245076;
    color:rgb(255,255,255);
    height: 400px;
    width:580px;
    display: inline-block;
    vertical-align: top;
    line-height: 125%;
}
#text ul li{
    padding:10px;
    color:#e9c839;
    font-size:117%;
}
#GS{
    background-color:white;
    color:black;
    height: 230px;
    width:580px;
    display: inline-block;
}
#Apps{
    background-color:white;
    color:black;
    height: 230px;
    width:580px;
    display: inline-block;
    vertical-align: top;
}

.blue-bar{
    background-color:#9ec3e2;
    width:400px;
    height:5px;
    margin-left:100px;
    margin-top:10px;
    margin-bottom:3px;
}
#GS h1{
    font-size:200%;
}
#Apps h1{
    font-size:200%;
}

#links ul li{
    list-style-type:disc; /* Not Working */
    padding:10px;
}
#links ul li a{
    color:white;
    /* text-decoration:underline; */
}
#footer{
    background-color:#2b6190;
    height:100px;
    vertical-align: bottom;
    margin: 0 auto;
}
.gold{
    color:#9ec3e2;
    padding:10px;
}
#footer ul li{
    display:inline-block;
    padding:10px;
}