#rapper{
    width:1170px;
    height: 900px;
    background-color: rgb(72, 15, 126);
    text-align: center;
}
#header{
    background-color:red;
    height:100px;
    text-align:center;
}
#left-head{
    background-color:pink;
    height:100px;
    display:inline-block;
    width:580px;
}
#right-head{
    background-color:yellow;
    height:100px;
    display:inline-block;
    width:580px;
}
#main{
    background-color:gold;
    height:700px;
    text-align: center;
}
#subhead{
    background-color:orange;
    display:inline-block;
    width:600px;
    padding:10px;
}
#subhead ul li{
    padding:10px;
    display:inline-block;
}

#links{
    background-color:aquamarine;
    color:blue;
    height: 400px;
    width:580px;
    display: inline-block;
}
#text{
    background-color:rgb(173, 13, 13);
    color:rgb(0, 255, 157);
    height: 400px;
    width:580px;
    display: inline-block;
}
#GS{
    background-color:white;
    color:blue;
    height: 230px;
    width:580px;
    display: inline-block;
}
#Apps{
    background-color:white;
    color:blue;
    height: 230px;
    width:580px;
    display: inline-block;
}




#footer{
    background-color:blue;
    height:100px;
    vertical-align: bottom;
    margin: 0 auto;
}
